body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6E9CF !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.artwork-container {
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 100px;
  background-color: #F6E9CF;
}

.modal {
  width: 750px;
  height: 750px;
  background: black;
  margin: 0 auto;
  vertical-align: middle;
  top: 20px;

  .modal-main {
    margin: 0 auto;
    background: white;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.header {
  margin-top: -15px;
}
.artwork {
  display: flex;
  /* flex-direction: row; */
}
.art-img {
  display: flex;
  /* flex-direction: column; */
}

.button-div {
  background-color: #F6E9CF;
  padding-bottom: 20px;
}

.sidebar {
  background-color: #F6E9CF;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-right: lightgrey solid 1px;
}
.artwork-col {
  background-color: #F6E9CF;
}

.favorite-div {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 100px;
}

.home {
  background-color: #F6E9CF;
}

.favorite-title:hover {
  color: #4da6ff;
}
